/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0d0101;
    color: #ebeaea;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1b0202;
    color: #d1d1d1;
}

/* Background Video */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/* Stylish Text */
.stylish-text {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffffff;
}

body.dark-mode .stylish-text {
    color: #c40d1d;
}

/* Make the entire project card clickable */
.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-link:hover .card {
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar {
    background: linear-gradient(45deg, hsla(183, 100%, 5%, 0.925), #01060c);
}

body.dark-mode .navbar {
    background: linear-gradient(45deg, #000000, #434343);
}

/* Section Styling */
.section {
    padding: 80px 0;
}

/* Profile Image */
.profile-img {
    width: 250px;
    height: 255px;
    border: 7px solid #09b89ec3;
    object-fit: cover;
}

body.dark-mode .profile-img {
    border-color: #e63946;
}

/* Social Media Buttons */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-btn {
    background-color: #fefefe;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 28px;
    color: #333;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-btn:hover {
    transform: scale(1.1);
    color: #f7f7f7;
}

.social-btn.github:hover { background-color: #333; }
.social-btn.whatsapp:hover { background-color: #25d366; }
.social-btn.linkedin:hover { background-color: #0077b5; }
.social-btn.instagram:hover {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fbc2eb);
}

body.dark-mode .social-btn {
    background-color: #444;
    color: #22172d;
}

body.dark-mode .social-btn:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000000;
    color: white;
}

body.dark-mode footer {
    background-color: #140202;
}
